@import "~@blueprintjs/core/lib/scss/variables";

$responsive-threshold: 768px;
$responsive-threshold-small: 450px;
$responsive-threshold-x-small: 320px;
$navbar-height: 50px;
$sidebar-width: 350px;
$sidebar-width-small: 100%;
$sidebar-padding: 15px;
$sidebar-transition-duration: 0.5s;

button {
  outline: none !important;
}

.app {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;

  &.bp4-dark {
    background: $dark-gray3;
  }
}

.mapboxgl-ctrl-group {
  button {
    color: $black;

    .bp4-dark & {
      background: $dark-gray5;
    }
  }

  &.autozoom {
    padding: 0;

    label {
      margin: 0;
      padding-right: 5px;
      padding-left: 30px;
    }
  }
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  font-size: 15px;
}

.mapbox-control-styles button {
  width: 100%;
  padding: 5px;
}

div, span, a {
  outline: none !important;
}

.download-area button {
  //margin-bottom: 5px;
  //margin-left: 5px;
}

.map-styles-control {
  display: flex;
  border-radius: 7px;
  padding: 5px;
  width: 265px;
  flex-wrap: wrap;

  @media (max-width: $responsive-threshold-x-small) {
    width: 180px;
  }

  button {
    height: 95px;
    min-width: 75px;
    width: 75px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    outline: none !important;
    font-size: 12px;

    .bp4-button-text {
      margin: auto;
    }

    &:hover {
      border-color: grey;
    }

    &.selected {
      border-color: #4C90F0 !important;
    }

    img {
      width: 100%;
    }
  }

  .checkboxes {
    padding: 5px;
    display: flex;

    label {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.map-styles-control-button {
  text-align: center;
  border-radius: 4px !important;
}

.map-sidebar {
  position: absolute;
  height: 100%;
  right: 0;
  background: $white;
  box-shadow: 0 0 2px 0 black;
  overflow-y: auto;
  width: $sidebar-width;
  padding: 0 $sidebar-padding;
  z-index: 2;

  .sidebar-closed & {
    right: -$sidebar-width;
  }

  @media (max-width: $responsive-threshold) {
    width: $sidebar-width-small;
    max-width: $responsive-threshold-small;
    .sidebar-closed & {
      right: -$sidebar-width-small;
    }

  }


  transition: right $sidebar-transition-duration;
}

.main {
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.map {
  position: absolute;
  height: 100%;
  left: 0;
  right: $sidebar-width;

  .sidebar-closed & {
    right: 0;
  }

  @media (max-width: $responsive-threshold) {
    right: 0;
  }

  transition: right $sidebar-transition-duration;

  .bp4-dark & {
    background: black;
  }
}

.bp4-tab-list {
  align-items: center;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);

  .spinner {
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
}

.bp4-navbar {
  padding-left: 0;
}

.bp4-navbar-heading {
  height: 100%;
  margin-right: 0;
}

.navbar-heading {
  a {
    padding: 10px;
    display: flex;
    height: 100%;
    align-items: center;

    img {
      height: 30px;
      width: 30px;
    }

    span {
      margin-left: 5px;
      font-size: 20px;
      color: #00bbff;
      @media (max-width: $responsive-threshold-small) {
        display: none;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.other-navbar-links {
  padding-left: 10px;
  a {
    margin: 3px;
    display: flex;
  }
}

.donate-link {
  @media (max-width: $responsive-threshold-x-small) {
    display: none;
  }
}