.app {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}

.bottom button {
    width: 100%;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
    font-size: 15px;
}

.mapbox-control-styles button {
    width: 100%;
    padding: 5px;
}

div, span {
    outline: none !important;
}
