.app {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
    font-size: 15px;
}

.mapbox-control-styles button {
    width: 100%;
    padding: 5px;
}

div, span {
    outline: none !important;
}

.download-area button {
    margin-bottom: 5px;
    margin-left: 5px;
}